@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after{margin:0; padding:0;}

body{font-family:'Roboto',sans-serif;background-color: #f8f8f8;}
img, svg{display:block; width:100%; user-select: none;}
a{text-decoration:none; color:#333333; display:block;}
p{line-height: 24px;}
li{list-style:none}
time,span{line-height: 20px; display:block; font-size: 14px;}
.active{color:#4d6bff !important; font-weight:bold;}
h1,h2,h3{font-family: 'Happiness-Sans-Title';}
.flex{display:flex; align-items: center;}
.flex_base{display:flex; align-items: baseline;}

header{position: fixed; top:0; left:0; z-index:99; box-shadow: 0 0 2px #555555; width:100%; backdrop-filter: blur(4px);}
.header_wrap{display:flex; margin:0 auto; padding: 8px; align-items: center; max-width: 1200px;}
header ul{display:flex;}
.logo_img{width:36px; height: 36px; border-radius:50px; background:linear-gradient(45deg,#ff4d4d,#ffadad);}
h2{font-size: 24px; line-height: 32px; padding-bottom:16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.header_wrap ul{margin-left: 16px;}

/* index */
.default_page{padding-top:52px; min-height: 100vh;}
.artist_index{}
.link{height:100vh;}

.all_artist{max-width: 1200px; margin:48px auto 0; padding: 0 8px; box-sizing: border-box;}
.all_artist h2{padding-left: 8px; box-sizing: border-box;}
.all_artist_list{display:flex; flex-wrap:wrap;}
.user_card_wrap{width:33.3%; box-sizing: border-box; padding:0 8px; margin-bottom:12px;}
.user_card_profile{width:100%; padding-bottom: 80%; position: relative; border-radius: 8px; overflow: hidden;}
.user_card_wrap a{border-radius: 8px;}
.user_card_wrap a:hover{box-shadow: 2px 2px 8px #dddddd; transition: all ease 0.3s;}
.user_card_wrap a:hover img {transform:scale(1.05) translate(-50%,-50%); transition: all ease 0.2s;}
.user_card_profile img{position: absolute; top:50%; height:100%; object-fit: cover; left:50%; transform: translate(-50%,-50%);}
.user_card_info{padding:4px 8px 24px; box-sizing: border-box;}

/* index monhtly */
.monthly_artist{ max-width: 1200px; margin:0 auto;margin:24px auto 0; box-sizing: border-box; padding: 0 16px;}
.monthly_artist_list{display:flex; position: relative;}


.monthly_artist_over{overflow: hidden; box-shadow: 0px 0px 4px #555555; border-radius: 8px; background-color: #555555;}
.monthly_artist_bg{width:40%; max-width: 40%; position: absolute; overflow: hidden; box-shadow: 2px -10px 8px #333333;}
.monthly_artist_list a:hover .monthly_artist_bg{z-index:50 !important;  transform:scale(1);
  animation: fadeIn 1s; box-shadow: 0 0 16px #555555;
} 
.monthly0{left:0; transform:rotate(5deg) scale(1.2);}
.monthly1{left:0; transform:rotate(-5deg) scale(1.2); right:0; margin:auto;}
.monthly2{right:0; transform:rotate(5deg) scale(1.2);}

.monthly_artist_img{width:100%; padding-bottom: 80%; position: relative; overflow: hidden;}
.monthly_artist_title{position: absolute; top:50%; left:50%; max-width:300px; width:100%; transform: translate(-50%,-50%); font-size: 24px; white-space:nowrap; color:#ffffff;  padding:8px; box-sizing: border-box; overflow: hidden; text-overflow: ellipsis; text-align: center; opacity: 1; text-shadow: 0 0 2px #555555; opacity: 0;}
.monthly_artist_title .flex{justify-content: center;}
.monthly_artist_wrap{box-shadow: 0 0 4px #555555; border-radius:8px; background: linear-gradient(to left,rgba(77, 77, 7,0.4), rgba(175, 175, 175,0.4)); opacity: 1; padding:8px 16px;}
.monthly_artist_wrap .flex{padding-top: 4px; position: relative;}
.monthly_artist_wrap .flex::after{display:block; content:""; width:80%; left:0; right:0; margin:auto; height:1px; background-color: #cccccc; top:0; position: absolute;}
.monthly_artist h2{color: transparent; background: linear-gradient(to left, #86e786, #70b3ff, #927aff, #ff70db, #ff4d4d); background-size: 300% 300%; background-clip: text; -webkit-background-clip: text; animation:gradient 4s ease infinite; font-size: 28px; line-height: 40px;}
.monthly_artist_wrap h3{font-size: 20px; padding-bottom:4px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.monthly_artist_bg:hover .monthly_artist_title{opacity: 1; transition: all ease 0.2s;}
.monthly_artist_bg_h{width:40%; max-width: 40%; }
.monthly_artist_img_h{width:100%; padding-bottom: 80%; position: relative; overflow: hidden;}
.monthly_artist_img img{position: absolute; height:100%; object-fit: cover; filter:contrast(1.1)}

.font_effect{position: absolute;text-shadow:0 0 1px rgba(84,84,84,0.4);white-space:nowrap; font-weight: bold; color:transparent; -webkit-text-stroke:1px white; letter-spacing: -2px; top:0; line-height: 60px; left:8px; font-size: 48px;}

/* anniv */
.anniv_artist{max-width: 1200px; margin:48px auto 0; padding:0 8px; box-sizing: border-box;}
.anniv_artist_section{display:flex; flex-wrap:wrap;}
.anniv_artist_shadow{box-shadow:2px 2px 16px #cccccc; border-radius: 8px; overflow: hidden;}
.anniv_artist_shadow:hover .anniv_main_img{transform:scale(1.1);transition:all ease 0.2s}
.anniv_artist_shadow:hover h3{background: linear-gradient(to right, #945cfd,#ff8ac6, #ff4d4d);background-clip: text;-webkit-background-clip: text;color: transparent; background-size: 300% 300%; animation:gradient 5s ease infinite;}
.anniv_artist_main{overflow: hidden; border-radius: 8px 8px 0 0;}
.anniv_main_img{width: 100%;padding-bottom: 80%;position: relative;}
.anniv_main_img img{position: absolute;height: 100%;object-fit: cover;}
.anniv_card_wrap {width:33.3%; padding:0 8px; box-sizing: border-box;}
.anniv_artist h2{font-size:28px;line-height:40px;background: linear-gradient(to left, #ff8ac6 90%, #ff4d4d);padding-left:8px; box-sizing: border-box;background-clip: text;-webkit-background-clip: text;color: transparent;}
.anniv_artist_main{position: relative;}
/* .anniv_card_wrap{ position: relative;} */
.anniv_card_item{display:flex; align-items: center; padding:4px; box-sizing: border-box; position:absolute; backdrop-filter: blur(4px); box-shadow: 0 0 2px #555555; width:90%; margin:auto; bottom:8px; left:0; right:0; border-radius: 4px; background-color: rgba(0, 0, 0, 0.2);}
.anniv_card_item_h{padding-bottom: 34px;width:100%;}
.anniv_card_img_wrap{width:60px; padding:2px; box-sizing:border-box; background-color: #dddddd; box-shadow: 0 0 2px #555555; margin-right: 8px; border-radius: 4px;}
.anniv_card_item:hover .anniv_card_img{transform: scale(1.1); transition: all ease 0.2s}
.anniv_card_img{width:100%; padding-bottom: 100%; position: relative;}
.anniv_card_info {width:calc(100% - 68px);}
.anniv_card_info p,.anniv_card_info time{white-space: nowrap;overflow: auto;color:#f1f1f1;text-overflow: ellipsis;}
.anniv_card_img img{position:absolute; top:0; left:0;height:100%; object-fit: cover; border-radius: 4px;}
.album_type{border: 1px solid #42a8ff;
  padding: 0px 6px;height: 20px;box-sizing: border-box;border-radius: 4px;font-weight: bold;color: #42a8ff;}

.anniv_card_desc{padding:8px; box-sizing: border-box;}
.anniv_card_desc h3{padding-bottom: 12px;}
/* .art_name_wrap{max-width:960px; margin:0 auto;} */
.discography_wrap{display:flex; align-items: center; padding:8px; box-sizing: border-box; background-color: #ffffff; border-radius: 4px; box-shadow: 0 0 2px #cccccc; flex-wrap: wrap;}
.discography_wrap aside{width:100%;}
.discography_wrap aside p{ color:#aaaaaa; width:100%; text-align: center;}
.discography_wrap+.discography_wrap{margin-top:12px;}
.discography_img{margin-right:16px; border-radius: 4px; overflow: hidden;}
.discography_img .img{width:80px; height:80px; background-color: #222222;}
.discography_info{width:calc(100% - 96px)}
.discography_info h3{font-size: 20px; line-height: 28px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; padding-top:8px;}
.discography_info p{font-size: 16px; line-height: 20px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
.art_name{color:#ffffff;text-shadow: 0 0 4px #555555; user-select: none; position: absolute;padding:8px; box-sizing: border-box; bottom:0; z-index: 3; max-width: 1200px; width:100%;}
.art_name .country{margin-bottom:-2px;}
.art_name h1{font-size: 36px; line-height: 36px; padding-bottom: 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.flex *+*, .flex_base *+*{padding-left:4px;}
.art_bg_wrap{max-width:1200px; margin:0 auto; position: relative; overflow: hidden; padding-bottom:clamp(480px, 40%, 720px);}
.art_bg_wrap.load::before{background: #000000;}
.art_bg_wrap::before{display:block; z-index: 1; content:''; width:100%; height:100%; background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 17%, transparent, rgba(0, 0, 0, 0.6) 83%, rgba(0, 0, 0, 1) 100%);position: absolute; bottom:0; transform:scale(1)}
.art_bg_wrap::after{display:block; content:''; width:100%; height:30%; background: linear-gradient(to top, rgba(40,40,40, 1) -20%, rgba(0,0,0, 0.6) 20%, transparent);position: absolute; bottom:0;}
.art_bg{filter:contrast(1.2); width:100%; position:absolute; background-color: #ffffff; object-fit: cover; height:100%; box-sizing:border-box; top:50%; transform: translateY(-50%);}
.art_profile_wrap,.art_info_wrap{padding:0 8px; max-width:1200px; box-sizing: border-box; margin: 48px auto 0;}
.art_shadow{box-shadow:0 0 8px #333333; background-color: #000000; position: relative;}
.art_shadow::after{display:block; content:''; width:100%; height:100%; background: #000000;position: absolute; bottom:0; animation: fade 1s; opacity: 0; z-index: 2;}

.icon_title_wrap{display:flex; align-items: center; padding-bottom: 16px;}
.icon_title_wrap h2{padding:0;}
.icon_title_img{width:40px;}

.art_info{display:flex; justify-content: space-between;}
.art_info aside{display:flex; align-items: center;}
/*  */
.category_item{line-height: 36px; position: relative; top:0; left:0; padding:0 8px; box-sizing: border-box;}
.category_item.active::after{display:block; content:""; position: absolute; width:100%; height:2px; left:0; background-color:#4d6bff; bottom:-8px;}

/*  */
.sns_card_wrap{background-color: rgba(255, 255, 255, 0.2); box-shadow: 0 0 2px #555555; backdrop-filter: blur(2px); border-radius: 4px; padding:4px; box-sizing: border-box;}
.sns_card_wrap a{padding:2px; box-sizing: border-box;}
.sns_card_wrap div,.sns_card_wrap .dot{display:block; width:32px; padding-bottom:100%; color:#ffffff; position: relative;}
.sns_card_wrap div img{position: absolute; width:100%; height:100%; object-fit: cover;}
.dot{background-color: rgba(40,40,40,0.6); border-radius: 4px;}
.dot span{width:4px; height:4px; position: absolute; top:0; left:0; background-color: #888888; border-radius: 2px; top:50%;left:50%;transform:translate(-50%,-50%);}
.dot span::after{display:block; content:''; width:4px; height:4px; position: absolute; background-color: #888888; border-radius: 2px; left: 8px;}
.dot span::before{display:block; content:''; width:4px; height:4px; position: absolute; background-color: #888888; border-radius: 2px; right: 8px;}
.sns_card_wrap a, .sns_card_wrap .dot{border-radius: 4px; }
.sns_card_wrap a:hover, .sns_card_wrap .dot:hover{background-color: #ffffff; transition: all ease 0.3s;}

.user_profile_wrap{position:relative; padding:0; border-radius: 4px;display:flex; width:100%; box-sizing: border-box; flex-wrap: wrap;}

.user_profile_img_wrap{width:100%; max-width: 540px;}
.user_profile_img{width:100%;position: relative;  padding-bottom: 80%;}
.user_profile_img img{height:100%; object-fit: cover; box-shadow: 0 0 2px #cccccc; border-radius: 8px; position: absolute; top: 0 ;left: 0}

/* comment */
.comment_wrap{padding:8px; box-sizing: border-box;}
.comment_wrap h3 {font-size: 14px;}
.comment_icon{width:24px; height:24px;}
.comment_like{color: #fd598c;}
/* member profile */
.member_profile_wrap{display:flex; align-items: center;}
.member_profile_wrap + .member_profile_wrap{margin-top: 16px;}
.member_profile:hover img{ transition: all ease 0.2s; transform: scale(1.1);}
.member_profile_info{display:flex; flex-direction: column; width:calc(100% - 128px);}
.member_profile_img{border-radius: 4px; max-width: 120px; width:100%; padding:4px; box-sizing: border-box; box-shadow: 0 0 2px #cccccc; margin-right: 8px; position: relative;}
.member_profile{width:100%; padding-bottom: 100%; overflow: hidden; position: relative; border-radius: 4px;}
.member_profile_img img{position: absolute; top:0; left:0; width:100%; object-fit: cover;}
.member_profile_img .sns_card_wrap{position: absolute; bottom:0%; padding:0; right:8px; bottom:8px;}
.member_profile_img .sns_card_wrap div{width:24px; position: relative;}
/* related */
.related_artist{display:flex; }
.related_artist_wrap{width:33.3%; border-radius: 8px; box-sizing: border-box; padding:8px;}
.related_artist_wrap:hover a{box-shadow: 2px 2px 16px #cccccc; transition: all ease 0.2s; border-radius: 8px;}
.related_artist_wrap:hover img{transform:scale(1.05);transition: all ease 0.2s;}
.related_artist_info{padding:8px; box-sizing: border-box;}
.related_artist_img{border-radius: 8px; overflow: hidden; }
.related_artist_img img{position: absolute; top:0; left:0; height:100%; object-fit: cover;}
.related_artist_img{width:100%; padding-bottom:60%; position: relative;}

/* footer */
footer{padding:24px 0; background-color: #030613;}
.footer_wrap{max-width: 1200px; padding:0 16px; box-sizing: border-box;}
footer *{color:#cccccc;}
@media screen and (max-width:768px){
  .art_bg_wrap::before{display:none;}
  .art_bg_wrap{padding-bottom:80%;}
  .font_effect{font-size: 30px;}
  .user_card_wrap{width:50%;}
  .anniv_card_wrap{width:100%;}
  .anniv_card_wrap+.anniv_card_wrap{margin-top: 20px;}

  .monthly_artist_img,.monthly_artist_img_h{padding-bottom: 120%;}
  /* related */
  .related_artist_wrap{width:100%;}
  .related_artist_wrap + .related_artist_wrap{margin-top: 20px;}
  .related_artist{flex-wrap:wrap;}
}

@keyframes fade {
  from {opacity: 1; z-index: 5;}
  to {opacity: 0; z-index:2;}
}

@keyframes fadeIn {
  from {opacity: 0.7; transform: rotate(1deg) scale(1.2);}
  to {opacity: 1; transform: rotate(0deg) scale(1);}
}

@keyframes gradient {
  0% {background-position: 0% 0%;}
  50% {background-position: 100% 100%;}
  100% {background-position: 0% 0%;}
}